<div class="well well-lg">
  <div class="form-horizontal">
    <h4 (click)="isCollapsedContent = !isCollapsedContent" data-toggle="collapse">
      <span class="glyphicon" [ngClass]="[ isCollapsedContent? 'glyphicon-triangle-right': 'glyphicon-triangle-bottom']"
    aria-hidden="false"></span>
            Caractéristiques
    </h4>
    <div [collapse]="isCollapsedContent" class="collapse">

      <!--Présence blessés & VIP-->
      <div class="form-group">
        <div class="col-xs-3">
            <div class="checkbox">
              <label>
                <cesam-input [type]="'checkbox'"
                [model]="evenement.attributs[field.depannageVehiculeArrete]"
                [innerHTML]="'Dépannage'"
                [fieldName]="field.depannageVehiculeArrete"
                [currentCtx]="currentCtx"></cesam-input>
              </label>
           </div>
        </div>
        <div class="col-xs-3">
            <div class="checkbox">
              <label>
                <cesam-input [type]="'checkbox'"
                [model]="evenement.attributs[field.presenceVIP]"
                [innerHTML]="'Présence VIP'"
                [fieldName]="field.presenceVIP"
                [currentCtx]="currentCtx"></cesam-input>
              </label>
           </div>
        </div>
      </div>

      <!--Nb. véhicules impliqués-->
      <div class="form-group">
         <label class="col-xs-3 control-label">Nb. de véhicules impliqués</label>
         <div class="col-xs-1">
           <cesam-input [type]="'number'" [model]="evenement.attributs[field.nbVehiculesImpliques]" [fieldName]="field.nbVehiculesImpliques" [currentCtx]="currentCtx"></cesam-input>
         </div>
       </div>
      <!--Type de Véhicule-->
      <div class="form-group">
        <label class="col-xs-1 control-label">VL</label>
        <div class="col-xs-1">
          <cesam-input [type]="'number'" [model]="evenement.attributs[field.typesVehiculesImpliques][field.vl]" [fieldName]="field.vl" [currentCtx]="currentCtx"></cesam-input>
        </div>
        <label class="col-xs-1 control-label">PL</label>
        <div class="col-xs-1">
          <cesam-input [type]="'number'" [model]="evenement.attributs[field.typesVehiculesImpliques][field.pl]" [fieldName]="field.pl" [currentCtx]="currentCtx"></cesam-input>
        </div>
        <label class="col-xs-1 control-label">Moto</label>
        <div class="col-xs-1">
          <cesam-input [type]="'number'" [model]="evenement.attributs[field.typesVehiculesImpliques][field.moto]" [fieldName]="field.moto" [currentCtx]="currentCtx"></cesam-input>
        </div>
        <label class="col-xs-1 control-label">Bus</label>
        <div class="col-xs-1">
          <cesam-input [type]="'number'" [model]="evenement.attributs[field.typesVehiculesImpliques][field.bus]" [fieldName]="field.bus" [currentCtx]="currentCtx"></cesam-input>
        </div>
        <label class="col-xs-1 control-label">TMD</label>
        <div class="col-xs-1">
          <cesam-input [type]="'number'" [model]="evenement.attributs[field.typesVehiculesImpliques][field.tmd]" [fieldName]="field.tmd" [currentCtx]="currentCtx"></cesam-input>
        </div>
       </div>
       <div class="form-group">
         <label class="col-xs-1 control-label">Vélo</label>
         <div class="col-xs-1">
           <cesam-input [type]="'number'" [model]="evenement.attributs[field.typesVehiculesImpliques][field.velo]" [fieldName]="field.velo" [currentCtx]="currentCtx"></cesam-input>
         </div>
         <label class="col-xs-1 control-label">Piétons</label>
         <div class="col-xs-1">
           <cesam-input [type]="'number'" [model]="evenement.attributs[field.typesVehiculesImpliques][field.pieton]" [fieldName]="field.pieton" [currentCtx]="currentCtx"></cesam-input>
         </div>
        </div>
       <!--Séparator-->
       <div class="row">
         <div class="col-xs-12 control-label separation"></div>
       </div>

       <!--Nature cargement & causes accident-->
       <div class="form-group">
         <label class="col-xs-3 control-label">Nature chargement</label>
         <div class="col-xs-3">
           <cesam-input [type]="'select'"
            [model]="evenement.attributs[field.natureChargement]"
            [items]="naturesChargement"
            [enumName]="modeleEvenementCte.NATURES_CHARGEMENT"
            [fieldName]="field.natureChargement"
            [currentCtx]="currentCtx"></cesam-input>
         </div>
         <label class="col-xs-3 control-label">Cause arrêt</label>
         <div class="col-xs-3">
           <cesam-input [type]="'select'"
            [model]="evenement.attributs[field.causeVehiculeArrete]"
            [items]="causesVehiculeArrete"
            [enumName]="modeleEvenementCte.CAUSES_VEHICULE_ARRETE"
            [fieldName]="field.causeVehiculeArrete"
            [currentCtx]="currentCtx"></cesam-input>
         </div>
       </div>
     </div>
  </div>
</div>
