@import 'src/styles/variables/variables.scss';
#suivi-astreintes{
   height:630px;
   display:block;
   float:left;
   width:900px;
   margin-right:40px;
   border-radius: 5px;

   &.large{
    width:100%;
   }

  /*Header : Onglets + Option calendrier */
   .header{
     background:$bg-titre;
     height:60px;
     width:100%;
     display:block;
     float:left;
     border-radius:5px 5px 0 0;
     padding-right:10px;
     /*Tabs Bootstrap */
     .nav-tabs {
      border-bottom:none;
      float:left;
      > li > a:focus {
        padding: 20px 20px;
        margin-top: 0px;
        margin-right:0px;
        color:$blanc;
        border:none;
        height: 60px;
        background:$bg-titre;
        border-right:1px solid $gris_fonce;
      }
      li{
        width:225px;
        height: 60px;
        cursor: pointer;
        > a {
          border-radius:0;
          padding: 20px 20px;
          margin-top: 0px;
          margin-right:0px;
          text-transform: uppercase;
          color:$blanc;
          font-size:$ft_tabs;
          border:none;
          height: 60px;
          border-right:1px solid $gris_fonce;
        }
        &.active > a {
           border-top: 6px solid $bleu;
           padding: 14px 20px 15px 20px;
           color:$noir;
           border-right:none;
           font-weight:600;
         }
         &:hover > a,
         &:focus > a {
           color:$noir!important;
           background:$blanc;
           border-right:none;
         }
      }
    }
    /*Option calendrier */
    .option{
      ul{
        margin-top: 7px;
        .dropdown{
          .dropdown-menu{
            width:175px;
            padding:5px;
            a .glyphicon{
              color:$bleu;
              &:hover{
                color:$bleu_fonce;
              }
            }
            label{
              padding-top: 7px;
              padding-right: 2px;
            }
            input{
              margin-bottom:10px;
            }
            .btn.action {
              height: 28px;
              border-radius: 5px;
              color: $blanc;
              background: $bleu;
              padding: 8px 10px;
              line-height: 0;
              text-transform: uppercase;
              font-weight:600;
              border: 1px solid $blanc;
              font-size:$ft_standard;
              &:hover,
              &:focus{
                background-color:$bleu_fonce;
              }
              &.right{
                float:right
              }
            }
          }
        }
        li{
          margin-top:2px;
          &.badge_option{
              padding: 0px;
              margin-top: 7px;
              border-right:1px solid $blanc;
          }
        }
        a{
          color:$blanc;
          text-decoration:underline;
          font-size:$ft_tabs;
          padding-right:10px;
          &:hover,
          &:focus{
            background:none;
            color:$bleu_pale;
          }
        }
        .badge_notification{
           background:$gris_notif;
           border-radius:50%;
           min-width:30px;
           height:30px;
           border:2px solid $gris_notifborder;
           line-height: 25px;
           text-align: center;
           font-size:$ft_tabs;
           font-weight:bold;
           color:$blanc;
           padding:0;
           cursor:  pointer;
           text-decoration:none;
           margin-right:20px;
           &:hover{
             background:none;
             text-decoration:none;
           }
        }
        .badge_rechargement{
          background-image: url("../../../../../assets/img/icon/reload.png");
          /*background:$gris_notif;*/
          border-radius:50%;
          min-width:31px;
          height:31px;
          border:0px solid $gris_notifborder;
          line-height: 25px;
          text-align: center;
          font-size:$ft_tabs;
          font-weight:bold;
          color:$blanc;
          padding:0;
          cursor:  pointer;
          text-decoration:none;
          margin-right:20px;
          opacity: 0.5;
          &:hover{
            opacity: 1.0;
          }
       }
      }
      .btn{
        &.calendar{
          height:40px;
          width:40px;
          padding:8px 10px;
          background:none;
          color:white;
          margin-left: 20px;
          &:hover{
            color:$gris_fonce;
            background:$blanc;
            border-right:none;
          }
          .glyphicon-calendar{
            font-size:20px;
          }
        }
      }
    }
   }
  /*Contenu Global - Tableau evenements*/
   .content{
     &.planning{
       overflow:hidden;
       overflow-y:auto;
       /*  overflow-x:auto;*/

     }
     background-color:$blanc;
     height:520px;
     width:100%;
     display:block;
     float:left;
     overflow-y: scroll;
       /*overflow-x: scroll;*/
     box-shadow: inset 0 -10px 10px -10px $gris_fonce;
     .contenu{
         height:465px;
     }
        ul.dropdown-menu{
        padding:0;
        cursor:pointer;
        li{
          border-bottom:1px solid #e0e0e0;
          border-left:6px solid $blanc;
          min-height:30px;
          margin-top:0;
          &:hover{
            background:$bleu_pale!important;
            border-left:6px solid $bleu;
          }
          a{
            color:black;
            text-decoration:none;
            padding: 5px 10px;
            font-size:14px;
            word-wrap: break-word;
            white-space: normal;
            &.dropdown-toggle{
              text-decoration:none;
              padding: 10px 0px 10px 0px;
            }
            &:hover{
              background:$bleu_pale;
            }
          }
        }
      }
     .table {
       margin-bottom:0;
       thead,
       > tbody{
       tr{
          height: 50px;
          padding: 0 8px 0 8px;
          vertical-align: middle;
          &.evenement-titre{
              border-top:1px solid $blanc;
          }
          > td{
            vertical-align:middle;
            border:none;
            padding: 0;
            .btn{
              height: 28px;
              border-radius: 5px;
              color: $blanc;
              background: $bleu;
              padding: 8px 10px;
              line-height: 0;
              text-transform: uppercase;
              font-weight:600;
              border: 1px solid $blanc;
              font-size:$ft_standard;
              &:hover,
              &:focus{
                background-color:$bleu_fonce;
              }
            }
            &.options_btn{
              display:none;
            }
          }
          th{
            vertical-align:middle;
            color:$gris_clair;
            cursor:pointer;
            &.sorted{
              color:$bleu;
            }
            .type{
              padding-left:20px;
            }
          }
          &.groupe{
            background:$gris_drop;
            ul.boutons{
              margin:0;
              padding: 0;
              li{
                float: left;
                margin-left:10px;
                position: relative;
                display: block;
              }
            }
            &.selected{
              background:$bleu_fonce!important;
              color:$blanc!important;
              .nom_groupe{
                .badge{
                  background:$blanc!important;
                  color:$bleu_fonce!important;
                }
              }
            }

          }
          &.child{
            background:$bleu_groupe;
            color:$noir;
          }
          &.event-selected{
            &.child{
              background:$bleu!important;
              color:$blanc!important;
            }
          }
        }
        .libelle{
          &.type{
           padding:0 18px 0 20px;
           width:68px/*70px taille origine*/;
           img{
             height:30px;
             width:30px;
          }
          .glyphicon{
            font-size: 16px;
            padding: 0 7px;
            cursor: pointer;
          }
         }
          &.evenement{
            width:275px/*275px taille origine*/;
            padding:0 18px 0 0;
            font-weight: 600;
            .nom_evenement{
              padding-right:10px;
            }
            .nom_groupe{
              width:635px;
              .badge{
                margin:-1px 0 0 10px;
                padding: 3px 6px;
                min-width: 20px;
                border-radius:10px;
                font-size:$ft_standard;
                background:$gris_notif;
              }
            }
            .nom_bouton{
              width:185px;
            }
          }
          &.localisation{
             width:185px;
             padding:0 3px 0 0;
             .nom_localisation{
               padding-right:10px;
             }
           }
           &.statut{
              width:115px;
              padding:0 18px 0 0;
              .statut{
               display: inline-block;
               margin-bottom: 0;
               font-weight: normal;
               text-align: center;
               vertical-align: middle;
               color: $gris_clair;
               padding: 14px 0px;
               line-height: 0;
               font-style: italic;
               width: 75px !important;
               font-weight:600;
               height: 30px;
               &.en-cours{
                 background: $bleu_fonce;
                 color:$blanc;
               }
               &.signale{
                 background: $orange;
                 color:$blanc;
               }
              }
          }
          &.debut{
             width:100px;
             padding:0 18px 0 0;
           }
           &.fin{
             width:100px /*125px taille origine*/;
             padding:0 18px 0 0;
           }
           &.id{
             padding:0 5px 0 0;
           }
          &.intitule{
            margin-right:20px;
            float: left;
            width:100%;
        }
       }
      }
     }
     .event-selected {
       background-color: $bleu; //orange
       color: $blanc;
       td.options_btn{
         display: table-cell!important;
         vertical-align: middle;
          border: none;
          padding: 0;
       }
       .statut{
         color:$blanc!important;
       }
     }
   }
   .footer{
     height:50px;
     width:100%;
     display:block;
     float:left;
     background-color:$blanc;
     border-radius:0 0 5px 5px;
     padding-left:20px;
     .form-control{
       display:inline!important;
       margin-left:5px;
     }
     ul.stat{
       float: left;
       margin: 0;
       padding-left: 0;
       margin-bottom: 0;
       list-style: none;
       margin-top:12px;
       li{
         position: relative;
         display: block;
         float: left;
         margin-right:20px;
         .select{
           display: inline-block;
           margin-top:-5px;
           select{
             width:160px;
           }
           input{
             width:80px;
           }
         }
         .checkbox{
           margin:0;
           label input[type="checkbox"]{
             margin-top: 5px;
           }
         }
         .bold{
           font-weight:bold;
           font-size:$ft_tabs;
           color:$bleu;
         }
       }
     }
     ul.boutons{
       padding-left:0;
       li{
         float: left;
         position: relative;
         display: block;
         &.link{
          cursor:pointer;
          margin-top: 13px;
          font-weight:bold;
          font-size:$ft_tabs;
          color:$bleu;
          margin-right:20px;
          &:hover{
            color:$bleu_fonce;
          }
          .glyphicon{
            top:2px;
            margin-right:5px;
          }
         }
         .btn{
           width: auto;
           margin-left: 3px;
           height:50px;
           border-radius:0;
           border:none;
           background-color:$vert;
           color:$blanc;
           text-transform: uppercase;
           font-size:$ft_btn;
           &:hover{
             background-color:$vert_hover;
           }
           &:focus{
             background-color:$vert_focus;
           }
         }
       }
     }
   }
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
