@import 'src/styles/variables/variables.scss';
#diffusions-message{
   height:630px;
   display:block;
   float:left;
   width:900px;
   border-radius: 5px;
   overflow: hidden !important;
  /*Header : Onglets + Option calendrier */
   .header{
     background:$bg-titre;
     height:60px;
     width:100%;
     display:block;
     float:left;
     border-radius:5px 5px 0 0;
     padding-right:10px;
     /*Tabs Bootstrap */
     .nav-tabs {
      border-bottom:none;
      float:left;
      > li > a:focus {
        padding: 20px 20px;
        margin-top: 0px;
        margin-right:0px;
        color:$blanc;
        border:none;
        height: 60px;
        background:$bg-titre;
        border-right:1px solid $gris_fonce;
      }
      li{
        width:225px;
        height: 60px;
        cursor: pointer;
        > a {
          border-radius:0;
          padding: 20px 20px;
          margin-top: 0px;
          margin-right:0px;
          text-transform: uppercase;
          color:$blanc;
          font-size:$ft_tabs;
          border:none;
          height: 60px;
          border-right:1px solid $gris_fonce;
        }
        p {
         border-radius:0;
         padding: 20px 20px;
         margin-top: 0px;
         margin-right:0px;
         text-transform: uppercase;
         color:$blanc;
         font-size:$ft_tabs;
         cursor:default;
         height: 60px;
         border-right:none;
       }
        &.title{
          width:660px;
          border-right:none;
        }
        &.active > a {
           border-top: 6px solid $bleu;
           padding: 14px 20px 15px 20px;
           color:$noir;
           border-right:none;
           font-weight:600;
         }
         &:hover > a,
         &:focus > a {
           color:$noir!important;
           background:$blanc;
           border-right:none;
         }
      }
    }
   }
  /*Contenu Global - Tableau evenements*/
   .content{
     .action-titre {
         background-color: #e5e5e5;
         font-weight: 600;
     }
     &.ev_strategies{
       overflow:hidden;
     }
     background-color:$blanc;
     height:520px;
     width:100%;
     display:block;
     float:left;
     overflow-y: scroll;
     overflow: hidden;
     box-shadow: inset 0 -10px 10px -10px $gris_fonce;
     .contenu{
        height:465px;
     }
     .emprise{
       margin-right:10px;
     }
     .well h4{
       cursor:default;
         &:hover{
           color:$gris_texte;
           text-decoration: none;
         }
      }
     .btn-group.bool{
       .btn{
         height: 28px;
         border-top-right-radius: 0px;
         border-bottom-right-radius: 0px;
         border-bottom-left-radius: 4px;
         border-top-left-radius: 4px;
         color: $gris_texte;
         background: $blanc;
         padding: 8px 10px;
         line-height: 0;
         text-transform: uppercase;
         font-weight: 600;
         border: 1px solid $gris_drop;
         font-size: 14px;
         width:125px;
         &.btn:last-child:not(:first-child){
             border-bottom-left-radius: 0;
             border-top-left-radius: 0;
             background:white;
             border-top-right-radius: 4px;
             border-bottom-right-radius: 4px;
         }
         &.active{
           color:$blanc!important;
           background:$bleu!important;
         }
         &:hover{
           color: $gris_texte!important;
           background:$gris_gpbouton!important;
         }
       }
     }
     ul.dropdown-menu{
        padding:0;
        cursor:pointer;
        li{
          border-bottom:1px solid #e0e0e0;
          border-left:6px solid $blanc;
          min-height:30px;
          margin-top:0;
          &:hover{
            background:$bleu_pale!important;
            border-left:6px solid $bleu;
          }
          a{
            color:black;
            text-decoration:none;
            padding: 5px 10px;
            font-size:14px;
            word-wrap: break-word;
            white-space: normal;
            &.dropdown-toggle{
              text-decoration:none;
              padding: 10px 0px 10px 0px;
            }
            &:hover{
              background:$bleu_pale;
            }
          }
        }
      }
   }

   .footer{
     height:50px;
     width:100%;
     display:block;
     float:left;
     background-color:$blanc;
     border-radius:0 0 5px 5px;
     padding-left:20px;
     ul.stat{
       float: left;
       margin: 0;
       padding-left: 0;
       margin-bottom: 0;
       list-style: none;
       margin-top:12px;
       li{
         position: relative;
         display: block;
         float: left;
         margin-right:10px;
         .checkbox{
           margin:0;
           label input[type="checkbox"]{
             margin-top: 5px;
           }
         }
         .bold{
           font-weight:bold;
           font-size:$ft_tabs;
           color:$bleu;
         }
       }
     }
     ul.boutons{
       padding-left:0;
       li{
         float: left;
         position: relative;
         display: block;
         &.link{
          cursor:pointer;
          margin-top: 13px;
          font-weight:bold;
          font-size:$ft_tabs;
          color:$bleu;
          margin-right:10px;
          &:hover{
            color:$bleu_fonce;
          }
         }
         .btn{
           height:50px;
           border-radius:0;
           border:none;
           background-color:$vert;
           color:$blanc;
           text-transform: uppercase;
           font-size:$ft_btn;
           border-left: 3px solid $blanc;
           padding:6px 8px;
           &.temps{width:295px;}
           &.manuelle{width:205px;}
           &.evenement{width:220px;}
           &:hover{
             background-color:$vert_hover;
           }
           &:focus{
             background-color:$vert_focus;
           }
           .glyphicon{
             top:2px;
             margin-right:10px;
           }
         }
       }
     }
   }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
