<div id="liste-strategies">
    <liste-strategies
        [idEvenement]="idEvenement"
        [currentCtx]="model.currentCtx"
        [strategieType]="'evenement'"
        [parentHeight]="260"
        [contentEvStrategiesHeight]="150"
        [contentHeight]="116">
    </liste-strategies>
</div>

<div id="liste-msg-pmv">
    <liste-msg-pmv
        [currentCtx]="model.currentCtx"
        [parentHeight]="370"
        [contentEvStrategiesHeight]="310"
        [contentHeight]="275">
    </liste-msg-pmv>
</div>
