<div class="well well-lg">
  <div class="form-horizontal" >
    <h4 (click)="isCollapsedContent = !isCollapsedContent">
      <span class="glyphicon" [ngClass]="[ isCollapsedContent? 'glyphicon-triangle-right': 'glyphicon-triangle-bottom']"
      aria-hidden="false"></span>
            Caractéristiques
    </h4>
    <div [collapse]="isCollapsedContent" class="collapse">
      <!--Nombre véhicules impliqués-->
      <div class="form-group">
        <label class="col-xs-3 control-label">Site industriel</label>
        <div class="col-xs-3">
          <cesam-input [type]="'select'"
             [model]="evenement.attributs[field.siteIndustriel]"
             [items]="sitesIndustriel"
             [enumName]="modeleEvenementCte.SITES_INDUSTRIEL"
             [fieldName]="field.siteIndustriel"
             [currentCtx]="currentCtx"></cesam-input>
        </div>
        <div class="col-xs-3">
            <div class="checkbox">
              <label>
                <cesam-input [type]="'checkbox'"
                [model]="evenement.attributs[field.presenceBlesses]"
                [innerHTML]="'Présence Blessés'"
                [fieldName]="field.presenceBlesses"
                [currentCtx]="currentCtx"></cesam-input>
              </label>
           </div>
        </div>
       </div>
       <!--Horodate -->
      <div class="form-group">
        <label class="col-xs-3 control-label">Horodate début confinement</label>
        <div class="col-xs-3">
          <cesam-input [type]="'date'" [model]="evenement.attributs[field.horodateDebutConfinement]" [fieldName]="field.horodateDebutConfinement" [currentCtx]="currentCtx"></cesam-input>
        </div>
        <label class="col-xs-3 control-label">Horodate fin confinement</label>
        <div class="col-xs-3">
          <cesam-input [type]="'date'" [model]="evenement.attributs[field.horodateFinConfinement]" [fieldName]="field.horodateFinConfinement" [currentCtx]="currentCtx"></cesam-input>
        </div>
      </div>
      <!--Dégats aux domaines-->
      <div class="form-group">
        <div class="col-xs-3">
            <div class="checkbox">
              <label>
                <cesam-input [type]="'checkbox'"
                  [model]="evenement.attributs[field.degatsAuxDomaines]"
                  [innerHTML]="'Dégâts aux domaines'"
                  [fieldName]="field.degatsAuxDomaines"
                  [currentCtx]="currentCtx"></cesam-input>
              </label>
           </div>
        </div>
        <div class="col-xs-9">
          <cesam-input [type]="'textarea'"
            [rows]="3" [maxlength]="255"
            [innerHTML]="'Descriptions à saisir'"
            [model]="evenement.attributs[field.descriptionDegatsAuxDomaines]"
            [fieldName]="field.descriptionDegatsAuxDomaines"
            [currentCtx]="currentCtx"></cesam-input>
        </div>
      </div>
     </div>
  </div>
</div>
