<div id="presentation-envoi-planification">
    <div class="col-xs-12">
        <table class="espace">
        <tbody>
        <tr class="ligne">
            <td class="colonne1">
                <div>
                    <label>Nom</label>
                </div>
            </td>
            <td class="colonne2">
                <div>
                    <input type="text" placeholder="Entrer le nom" [(ngModel)]="preparation.nom"
                           (keyup)="nameChange($event)" class="form-control"/>
                </div>
            </td>
            <td class="colonne3">
            </td>
        </tr>
        <br>
        <tr class="ligne">
            <td class="colonne1">
                <div>
                    <label>Description</label>
                </div>
            </td>
            <td class="colonne2">
                <div>
                    <input type="text" placeholder="Entrer la description" [(ngModel)]="preparation.description"
                           (keyup)="descriptionChange($event)" class="form-control"/>
                </div>
            </td>
            <td class="colonne3">
            </td>
        </tr>
        <br>
        <tr class="ligne">
            <td class="colonne1">
                <div>
                    <label>Choix type Destinataire</label>
                </div>
            </td>
            <td class="colonne4">
        <tr>
            <td>
                <div class="checkbox">
                    <label>
                        <input
                            type="radio"
                            [checked]="isDestinataire"
                            (click)="getDestinataire(); $event.stopPropagation();"
                            /> Destinataire.
                    </label>
                </div>
            </td>
            <td class="colonne1">
                <div class="checkbox">
                    <label>
                        <input
                            type="radio"
                            [checked]="!isDestinataire"
                            (click)="getGroupeDestinataire(); $event.stopPropagation();"
                            /> Groupe Destinataire.
                    </label>
                </div>
            </td>
        </tr>
        </td>
        <td class="colonne5">

        </td>
        </tr>
        <br>
        <tr class="ligne">
            <td class="colonne1">
                <div *ngIf="isDestinataire">
                    <label>Nom destinataire</label>
                </div>
                <div *ngIf="!isDestinataire">
                    <label>Nom Groupe Destinataire</label>
                </div>
            </td>
            <td class="colonne1">
                <div *ngIf="isDestinataire">
                    <ng-select
                               (selected)="destinataireChange($event)"
                               [items]="paramDestinataires.valeurPossibles"
                               placeholder="Sélectionner un destinataire...">
                    </ng-select>
                </div>
                <div *ngIf="!isDestinataire">
                    <ng-select
                                (selected)="destinataireChange($event)"
                               [items]="paramGroupeDestinataires.valeurPossibles"
                               placeholder="Sélectionner un groupe de destinataires ...">
                    </ng-select>
                </div>
            </td>
            <td class="colonne2">

            </td>
        </tr>
        <br>
        <tr class="ligne">
            <td class="colonne1">
                <div>
                    <label>Modèle bulletin</label>
                </div>
            </td>
            <td class="colonne2">
                <div>
                    <ng-select
                               (selected)="modeleBulletinChange($event)"
                               [items]="bulletins"
							   [active]="selectedBulletin"
                               placeholder="Sélectionner un modèle de bulletins ...">
                    </ng-select>
                </div>
            </td>
            <td class="colonne2">

            </td>
        </tr>
        <br>
        <tr class="ligne" *ngIf="showListeEvenements">
            <td class="colonne1">
                <div>
                    <label>Evénement</label>
                </div>
            </td>
            <td class="colonne2">
                <div>
                    <ng-select
                               (selected)="evenementChange($event)"
                               [items]="evenements"
                               placeholder="Sélectionner un événement...">
                    </ng-select>
                </div>
            </td>
            <td class="colonne2">

            </td>
        </tr>
        <br *ngIf="showListeEvenements"/>
        <tr class="ligne">
            <td class="colonne1">
                <div>
                    <label>Format</label>
                </div>
            </td>
            <td class="colonne2">
                <div *ngIf="paramFormats.paramValue">
                    <ng-select
                        (selected)="formatChange($event)"
                        [items]="paramFormats.valeurPossibles"
						[active]="[paramFormats.paramValue]"
                        placeholder="Sélectionner un Format ...">
                    </ng-select>
                </div>
            </td>
            <td class="colonne2">
            </td>
        </tr>
        <br>
        <tr class="ligne">
            <td class="colonne1">
                <div>
                    <label>Media</label>
                </div>
            </td>
            <td class="colonne2">
                <div *ngIf="paramMedias.paramValue">
                    <ng-select
                        (selected)="mediaChange($event)"
                        [items]="paramMedias.valeurPossibles"
						[active]="[paramMedias.paramValue]"
                        placeholder="Sélectionner un Media ...">
                    </ng-select>
                </div>
            </td>
            <td class="colonne2">
            </td>
        </tr>
        <br>
        <tr class="ligne">
            <td class="colonne1">
                <div>
                    <label>Commentaire</label>
                </div>
            </td>
            <td class="colonne2">
                <div>
                    <textarea placeholder="Commentaire"  [(ngModel)]="preparation.commentaire"
                              (keyup)="commentaireChange($event)"class="commentaire"></textarea>
                </div>
            </td>
            <td class="colonne2">
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col-xs-12 content"
         [perfect-scrollbar]>
        <div class="col-xs-12 five_div">
            <table class="tableau espace">
                <tr>
                    <td class="firstColonne">
                        Planification
                    </td>
                    <td class="colonne">
                        Date de début
                    </td>
                    <td class="dateColonne">
                        <input class="form-control"
                               [(ngModel)]="preparation.planification.dateDebut"
                               (ngModelChange)="selectDate($event)"
                               (change)="selectDate($event)"
                               ng2-datetime-picker
                               date-format="DD/MM/YYYY HH:mm:ss"
                               parse-format="DD/MM/YYYY HH:mm:ss"
                               [close-on-select]="true"/>
                    </td>

                    <td class="colonne">
                        &nbsp; &nbsp; Date de fin
                    </td>
                    <td class="dateColonne">
                        <input class="form-control"
                               [(ngModel)]="preparation.planification.dateFin"
                               (ngModelChange)="selectDate($event)"
                               (change)="selectDate($event)"
                               ng2-datetime-picker
                               date-format="DD/MM/YYYY HH:mm:ss"
                               parse-format="DD/MM/YYYY HH:mm:ss"
                               [close-on-select]="true"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 five_div">
            <table class="tableau espace">
                <tr>
                    <td class="firstColonne">
                        Calendrier
                    </td>

                    <td *ngFor="let journee of journees" class="colonne">
                        <button class="btn btn-default btn-xs"
                                [ngClass]="{ 'active': journee.isActive}"
                                (click)="selectJournee(journee)"
                            >{{journee.nom}}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 five_div">
            <table class="tableau espace">
                <tr>
                    <td class="firstColonne">
                        Heure debut
                    </td>
                    <td class="colonneContentHor">
                        <select class="colonneHor"
                                [(ngModel)]="preparation.planification.heureDebut"
                                (change)="selectHoraire($event)">
                            <option *ngFor="let plageHoraire of plagesHoraires"
                                    [ngValue]="plageHoraire">{{plageHoraire.horaire}}
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-xs-12 five_div">
            <table class="tableau espace">
                <tr>
                    <td class="firstColonne">
                        Périodicité en minutes
                    </td>
                    <td class="colonneContentHor">
                        <select class="colonneHor"

                                [(ngModel)]="periodicite"
                                (change)="selectPeriodicite($event)">
                            <option *ngFor="let period of periodicites"
                                    [ngValue]="period">{{period.periodicite}}
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 five_div">
            <table class="tableau espace">
                <tr>
                    <td class="firstColonne">
                        Confirmation Lancement
                    </td>
                    <td class="toggleColonne">
                        <div class="btn-group bool" role="group">
                            <button type="button" class="btn btn-default"
                                    [ngClass]="{ 'active': preparation.planification.demandeConfirmationDebut}"
                                    (click)="selectConfirmation($event)">
                                Oui
                            </button>
                            <button type="button" class="btn btn-default"
                                    [ngClass]="{ 'active': !preparation.planification.demandeConfirmationDebut}"
                                    (click)="selectConfirmation($event)">
                                Non
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

