<div class="well well-lg">
  <div class="form-horizontal">
    <h4 (click)="isCollapsedContent = !isCollapsedContent" data-toggle="collapse">
      <span class="glyphicon" [ngClass]="[ isCollapsedContent? 'glyphicon-triangle-right': 'glyphicon-triangle-bottom']"
      aria-hidden="false"></span>
            Caractéristiques
    </h4>
    <div [collapse]="isCollapsedContent" class="collapse">
      <!--Secteur & Mesure-->
       <div class="form-group">
         <label class="col-xs-3 control-label">Secteur</label>
         <div class="col-xs-3">
           <cesam-input [type]="'select'"
            [model]="evenement.attributs[field.secteurGestionTrafic]"
            [items]="secteursGestionTrafic"
            [enumName]="modeleEvenementCte.SECTEURS_GESTION_TRAFIC"
            [fieldName]="field.secteurGestionTrafic"
            [currentCtx]="currentCtx"></cesam-input>
         </div>
         <label class="col-xs-3 control-label">Mesure</label>
         <div class="col-xs-3">
           <cesam-input [type]="'select'"
            [model]="evenement.attributs[field.mesureGestionTrafic]"
            [items]="mesuresGestionTrafic"
            [enumName]="modeleEvenementCte.MESURES_GESTION_TRAFIC"
            [fieldName]="field.mesureGestionTrafic"
            [currentCtx]="currentCtx"></cesam-input>
         </div>
       </div>
     </div>
  </div>
</div>
