@import 'src/styles/variables/variables.scss';

#login {
    margin-top: 200px;
    margin-left: 400px;
    background-color: $blanc;
    width: 50%;
    height: 200px;
    .centrer{
        text-align: center;
    }

    .centrer_1{
        text-align: center;
        padding-top: 80px;
    }

    .table {
        border: 0px;
        margin-top: 20px;
        border-collapse: collapse;
    }
}


